pipeline/.vscode/*
pipeline/__pycache__
backend/.vscode
backend/muscle/.aws-sam
backend/muscle/samconfig.toml
pipeline/.vscode/launch.json
.DS_Store
camrie/
.*.swp
*.png
cloudMR*.zip
pipeline/__pycache__/*
g-factor.zip
pipeline/__pycache__/common.cpython-310.pyc
pipeline/__pycache__/common.cpython-310.pyc
